{% extends 'base.html' %}
{%block content%}

<div style="color: black;">
<h1>What is the ADA and what defines a disability</h1>
</div>

<h1>{{ post.title }}</h1><br/>
<small>By: {{'Sierra'}} {{'Butler'}}</small><hr><br/>
{{ post.body }}


<p>On July 26th 1990, the Americans with Disabilities Act was signed into law. With a reported 20% or more of Americans having reported to have a disability(FEMA, 2021), the ADA has been essential in fighting for the rights of those affected. The ADA grants job protection to the disabled, guaranteed housing, it aids in receiving government assistance, and much more. An individual with a disability is defined by the ADA as a person who has a physical or mental impairment that substantially limits one or more major life activities, a person who has a history or record of such an impairment, or a person who is perceived by others as having such an impairment. Some, but not all, examples of recognized disabilities are:
    •	Cancer
    •	Diabetes
    •	Post-traumatic stress disorder
    •	HIV
    •	Autism
    •	Cerebral palsy
    •	Deafness or hearing loss
    •	Blindness or low vision
    •	Epilepsy
    •	Mobility disabilities such as those requiring the use of a wheelchair, walker, or cane
    •	Intellectual disabilities
    •	Major depressive disorder
    •	Traumatic brain injury
    </p>
<br/><br/>
<a href="{%url 'home'%}" class="btn btn-dark">Back</a>
{%endblock%}