{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" style="color: aquamarine; font-family:serif;">Molly's Place</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    Menu</button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 750px;">
            Menu</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
            <a class="dropdown-item" href="home" target="_top">Home</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item(p1)" href="page1" target="_top">What is the ADA and what Defines a Disability</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item(p2)" href="page2" target="_top">Service Dogs vs Therapy Dogs</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item(p3)" href="page3" target="_top">11 Facts About Service Dogs</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item(p4)" href="page5" target="_top">Add Post</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  {% endblock %}